<h1>Listing project_content_lists</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_content_lists.each do |project_content_list| %>
  <tr>
    <td><%= project_content_list.title %></td>
    <td><%= link_to "Destroy",
                    [@project, project_content_list],
                    :method => :delete,
                    :class => 'btn btn-danger' %></td>
  </tr>
  <% end %>
</table>

<br />
<%= form_for ([@project, @project.project_content_lists.build]), :html => {:class => 'form-horizontal', :multipart => true} do |f| %>
    <%= f.text_field :title, :class => 'text_area' %>
    <%= f.submit "Add List", :class => 'btn btn-primary' %>
<% end %>