<h1>Listing project_link_buttons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_link_buttons.each do |project_link_button| %>
  <tr>
    <td><%= project_link_button.name %></td>
    <td><%= project_link_button.link %></td>
    <td><%= link_to "Destroy",
                    [@project, project_link_button],
                    :method => :delete,
                    :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />
<%= form_for ([@project, @project.project_link_buttons.build]), :html => {:class => 'form-horizontal', :multipart => true} do |f| %>
    <%= f.text_field :name, :class => 'text_area' %>
    <%= f.text_field :link, :class => 'text_area' %>
    <%= f.submit "Add Button", :class => 'btn btn-primary' %>
<% end %>
