<p id="notice"><%= notice %></p>

<h3>
  <%= @post.title %>
</h3>

<p>
  <%= @post.content.html_safe %>
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Destroy', @post, :method => :delete %>
<% end %>